{{#extends 'layouts/main'}}
{{#content 'body'}}
    <h1>Carrito de Compras</h1>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each cart.items}}
            <tr>
                <td>{{this.producto.nombre}}</td>
                <td>{{this.cantidad}}</td>
                <td>{{this.producto.precio}}</td>
                <td>{{this.total}}</td>
                <td>
                    <form action="/cart/remove/{{this.producto._id}}" method="post">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h3>Total: {{cart.total}}</h3>
    <form action="/checkout" method="post">
        <button type="submit">Proceder al Pago</button>
    </form>
{{/content}}